@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/css/compiled/theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/brankic.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/font-awesome.min.css" />
</head>
<body id="signin">

    <a href="" class="logo"><i class="brankic-pen"></i></a>
    <h3>Bem vindo!</h3>
    <div class="content">
        <form method="post" asp-action="ForgottenPassword">
            <div class="fields">
                <strong>E-mail:</strong>
                <input class="form-control" type="email" id="email" name="email" required placeholder="email@exemplo.com" />
            </div>
            <div class="actions">
                <button class="btn btn-primary btn-lg" type="submit">Enviar nova Senha</button>
            </div>
        </form>
        @if (ViewData.ContainsKey("send"))
        {
            if (Convert.ToBoolean(ViewData["send"]))
            {
                <div class="actions bg-success alert">
                    <p>Por favor verifique sua conta de e-mail</p>
                </div>
            }
            else
            {
                <div class="actions bg-danger alert">
                    <p>Não foi possível enviar uma nova senha. Tente novamente mais tarde</p>
                </div>
            }
        }

    </div>
</body>
</html>
